body {
  background: black;
}

.App {
  max-width: 900px;
  margin: 20px auto;
  display: block;
}

h1 {
  color: #00bccb;
  font-size: 24px;
  font-weight: 100;
  height: 28px;
  text-align: left;
  line-height: 28.8px;
  margin-bottom: 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  color: rgb(165, 214, 221);
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 19px;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}
